################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.NET/Follow-along/WebApplication1
/.NET/labs/QuickTour/.vs/QuickTour
