################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.NET/Follow-along/WebApplication1
/.NET/labs/QuickTour/.vs/QuickTour
/.NET/labs/Lab04/.vs
/.vs/Github_Repo/FileContentIndex
/.NET/labs/Lab05/EFRefresh/.vs
